p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 20px;
    background-color: rgb(248, 248, 248);
}
@media (min-width: 1200.1px) {
    body {
        margin-left: 168px;
    }
}