.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    
    z-index: 100;
}



.left-section {

    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 25px;
    margin-left: 20px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 25px;
}

.youtube-apps-icon {
    height: 25px;
}

.notification-icon {
    height: 25px;
}

.notification-icon-container {
    position: relative;
}

.notification-count {
    background-color: rgb(200, 0, 0);
    color: white;
    
    position: absolute;
    top: -2px;
    right: -5px;

    font-family: Roboto, Arial;
    font-size: 11px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;

    border-radius: 35px;
    
}

.channel-pics-icon {
    height: 30px;
    border-radius: 15px;
}



.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.search-bar {
    width: 0;
    flex: 1;
    height: 40px;
    padding-left: 12px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.15)
}

.search-icon {
    height: 25px;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 44px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notification-icon-container {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notification-icon-container .tooltip {
    background-color: grey;
    color: white;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;

    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto, Arial;

    position: absolute;
    bottom: -30px;

    opacity: 0;

    transition: opacity 0.30s;

    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
    opacity: 1;
}



.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(242, 242, 242);
}

.voice-search-icon {
    height: 25px;
}


